<h3>Listing all the books</h3>
<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by title:</div>
            <div class='col-md-4'>
                <input type='text'
                    [(ngModel)]='filterName' />
            </div>
            </div>
            <br>
       <label>Title:
    <input type="checkbox" [(ngModel)]="title_check">
  </label>

  <label>Author:
    <input type="checkbox" [(ngModel)]="author_check">
  </label>

  <label>ISBN:
    <input type="checkbox" [(ngModel)]="isbn_check">
  </label>

  <label>Publication Date:
    <input type="checkbox" [(ngModel)]="publication_date_check">
  </label>

  <label>Publisher:
    <input type="checkbox" [(ngModel)]="publisher_check">
  </label>

<label>Price:
    <input type="checkbox" [(ngModel)]="price_check">
  </label>

  <label>Genre:
    <input type="checkbox" [(ngModel)]="genre_check">
  </label>

  <label>Format:
    <input type="checkbox" [(ngModel)]="format_check">
  </label><br/><br/>
    
        <table class='table table-striped table-condensed' *ngIf='books && books.length'>
            <thead>
                <tr>
                    <th *ngIf="title_check" style="min-width: 80px;">Title</th>
                    <th  *ngIf="author_check" style="min-width: 80px;">Author</th>
                    <th  *ngIf="isbn_check" style="min-width: 100px;">ISBN</th>
                    <th *ngIf="publication_date_check" style="min-width: 60px;">Publication Date</th>
                    <th *ngIf="publisher_check" style="min-width: 60px;">Publisher</th>
                    <th *ngIf="price_check" style="min-width: 60px;">Price</th>
                    <th *ngIf="genre_check" style="min-width: 60px;">Genre</th>
                    <th *ngIf="format_check" style="min-width: 60px;">Format</th>
                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let book of books | nameFilter: filterName'>
                    <td *ngIf="title_check" ><a [routerLink]="book._id">{{ book.title | uppercase }}</a></td>
                    <td *ngIf="author_check">{{ book.author }}</td>
                    <td *ngIf="isbn_check">{{ book.isbn }}</td>
                    <td *ngIf="publication_date_check">{{ book.publication_date }}</td>
                    <td *ngIf="publisher_check">{{ book.publisher }}</td>
                    <td *ngIf="price_check">{{ book.price }}</td>
                    <td *ngIf="genre_check">{{ book.genre }}</td>
                    <td *ngIf="format_check">{{ book.format }}</td>
                    <td><a [routerLink]="['/editBook',book._id]" class="btn btn-xs btn-primary">Edit</a></td>
                    <td><a (click)="Delete(book._id)" class="btn btn-xs btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/addBook" class="btn btn-xs btn-primary">Add Book</a>
    </div>
</div>
